body {
    background-color: black;
    width: auto;
    height: auto;
}

main {
    margin: 150px auto;
    width: calc(210mm - 40px);
    height: caLC(297mm - 40px);
    background-color: white;
    padding: 20px;
    display: flex;
}

.section-left {
    min-height: 100%;
    width: 40%;
    background-color: wheat;
}

.section-left>img {
    display: block;
    width: 100%;
}

.section-content {
    min-height: 100%;
    width: 60%;
    background-color: turquoise;
}

.section-content>section {
    min-height: 10%;
    width: 100%;
    background-color: violet;
}

.section-left>h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

