body {
    background-color: black;
    width: auto;
    height: auto;
}

main {
    margin: 150px auto;
    width: calc(210mm - 40px);
    height: caLC(297mm - 40px);
    background-color: white;
    padding: 20px;
    display: flex;
}

.section-left {
    min-height: 100%;
    width: 40%;
    background-color: rgba(243, 237, 224, 0.959);
}

.section-left>img {
    display: block;
    width: 100%;
}

.section-content {
    min-height: 100%;
    width: 60%;
    background-color: white;
}

.section-content>section {
    min-height: 8%;
    width: 100%;
    background-color: rgba(228, 228, 224, 0.781);
}

.name {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    letter-spacing:3px;
    margin: 50px 60px 25px 70px;
}

.name>b {
    color: rgb(255, 255, 255);
    margin: 2px -10px;
}

.pt {
    font-size: 18px;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px 60px 40px 60px;
    letter-spacing:2px
}

.info {
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto 30px;
    
}



